## Deliverable 2. Create a Customer Travel Destinations Map.

In [14]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [15]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Description
0,0,Rikitea,-23.1203,-134.9692,73.71,78,69,12.28,PF,broken clouds
1,1,Kapaa,22.0752,-159.3190,75.52,81,75,4.00,US,heavy intensity rain
2,2,Ucluelet,48.9329,-125.5528,48.09,88,100,3.00,CA,overcast clouds
3,3,Bluff,-46.6000,168.3333,44.71,71,100,23.82,NZ,overcast clouds
4,4,Lorengau,-2.0226,147.2712,82.35,77,8,7.67,PG,clear sky

In [16]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [17]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Description
1,1,Kapaa,22.0752,-159.3190,75.52,81,75,4.00,US,heavy intensity rain
4,4,Lorengau,-2.0226,147.2712,82.35,77,8,7.67,PG,clear sky
10,10,Lusambo,-4.9667,23.4500,80.96,66,96,2.26,CD,overcast clouds
14,14,Bac Lieu,9.2850,105.7244,78.13,89,100,8.39,VN,overcast clouds
18,18,Meulaboh,4.1363,96.1285,79.21,80,94,2.21,ID,overcast clouds
19,19,Atuona,-9.8000,-139.0333,77.49,67,21,15.41,PF,few clouds
20,20,Hithadhoo,-0.6000,73.0833,83.55,74,68,17.47,MV,broken clouds
21,21,Xai-Xai,-25.0519,33.6442,78.04,48,9,9.60,MZ,clear sky
22,22,Banda Aceh,5.5577,95.3222,80.65,78,100,14.29,ID,overcast clouds
27,27,Marsa Matruh,31.3525,27.2453,77.83,61,6,11.99,EG,clear sky

In [18]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID        205
City           205
Lat            205
Lng            205
Max Temp       205
Humidity       205
Cloudiness     205
Wind Speed     205
Country        205
Description    205
dtype: int64

In [19]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
#N/A

In [20]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
1,Kapaa,US,75.52,heavy intensity rain,22.0752,-159.3190,
4,Lorengau,PG,82.35,clear sky,-2.0226,147.2712,
10,Lusambo,CD,80.96,overcast clouds,-4.9667,23.4500,
14,Bac Lieu,VN,78.13,overcast clouds,9.2850,105.7244,
18,Meulaboh,ID,79.21,overcast clouds,4.1363,96.1285,
19,Atuona,PF,77.49,few clouds,-9.8000,-139.0333,
20,Hithadhoo,MV,83.55,broken clouds,-0.6000,73.0833,
21,Xai-Xai,MZ,78.04,clear sky,-25.0519,33.6442,
22,Banda Aceh,ID,80.65,overcast clouds,5.5577,95.3222,
27,Marsa Matruh,EG,77.83,clear sky,31.3525,27.2453,

In [21]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [33]:
import numpy as np

In [37]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df['Hotel Name'].replace('', np.nan, inplace=True)
hotel_df.dropna(subset=['Hotel Name'], inplace=True)
hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
1,Kapaa,US,75.52,heavy intensity rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
4,Lorengau,PG,82.35,clear sky,-2.0226,147.2712,Lorengau Harbourside Hotel
14,Bac Lieu,VN,78.13,overcast clouds,9.2850,105.7244,Khách sạn Sài Gòn Bạc Liêu
18,Meulaboh,ID,79.21,overcast clouds,4.1363,96.1285,Kost Pria
19,Atuona,PF,77.49,few clouds,-9.8000,-139.0333,Villa Enata
20,Hithadhoo,MV,83.55,broken clouds,-0.6000,73.0833,Scoop Guest House
21,Xai-Xai,MZ,78.04,clear sky,-25.0519,33.6442,Complexo da Familia
22,Banda Aceh,ID,80.65,overcast clouds,5.5577,95.3222,Sulthan Hotel International
27,Marsa Matruh,EG,77.83,clear sky,31.3525,27.2453,Beau Site
32,Banjar,ID,78.66,overcast clouds,-8.1900,114.9675,The Hamsa Resort

In [38]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_Vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [41]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>

<dt>Description</dt><dd>{Description}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [46]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))